<head>
  <%- include('../partials/header.ejs') %>
</head>
<%- include('../includesUser/head.ejs') %>
    <link rel="stylesheet" href="/css/postedService.css">
    </head>
    <hr>
    <div class="container mt-3 py-3" style="background-color: whitesmoke;">

      <form action="/coursesFiltered" method="GET" >
          <label>Filter Courses Category</label>
          <select name="category" class="form-control">
             <option value="Graphics & Design"> Graphics & Design </option>
             <option value="Digital Marketing"> Digital Marketing </option>
             <option value="Writing & Translation"> Writing & Translation </option>
             <option value="Video & Animation"> Video & Animation </option> 
             <option value="Music & Audio"> Music & Audio </option>
             <option value="Programming & Tech"> Programming & Tech </option>
             <option value="Business"> Business </option>
             <option value="Lifestyle"> Lifestyle </option>
             <option value="Sitemap"> Sitemap </option>
            </select>
   
            <input type="submit" class="btn btn-primary mt-3" style="background-color: blue; color: white;" value="Filter">
      </form>
   
   
          </select>
        
      </form>
   
   </div>
<hr>
<% if (prods.length > 0) { %>
    <div class="grid" style="background-color: whitesmoke;">
      <% for (let course of prods) { %>
      <article class="card postedService-item">
        <header class="card__header">
            <h1 class="postedService__title"><%= course.title %> </h1>
        </header>
        <div class="card__image">
            <img src="<%=course.image.url%>"
                alt="<%=course.title %>">
        </div>
        <div class="card__content">
            <h2 class="postedService__price">$<%= course.price %></h2>
            <p class="postedService__description"><%= course.description %></p>
        </div> 
        
        <div class="card__actions">
          <a href="/courses/<%= course._id %>" class="btn" style="background-color: blue; color: white;" >Details</a>
      </div>
      </article>
      
    
      <!--<div class="col-md-4">

      <a href="/courses/"
        style="text-decoration: none; color: #34495e">
        <div class="panel panel-default">

          <div class="panel-body" style="border:0px;height:250px;overflow-y:auto">
            <h4><</h4>
            <p>Description:</p>
            <p style="text-align:justify">></p>
          </div>

      </div>
      </a>
    </div>-->
    <% } %>
    <script>
      function func(){
        
        if(error){
window.open("/coursesPayed/");
        }
      }
      
    </script>
  </div>

  <section class='pagination'>
    <%- include('../includesUser/pagination.ejs', { currentPage: currentPage, previousPage: previousPage, nextPage: nextPage, hasPreviousPage: hasPreviousPage, hasNextPage: hasNextPage, lastPage: lastPage}) %> 
</section>
<% } %>
<hr>
<footer>
  <%- include('../partials/LearningFooter.ejs') %>
</footer>
<%- include('../includesUser/end.ejs') %>