<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Questions</title>
</head>

<body>

    <center><div class="container mt-3 py-1"><h3>All Questions </h3></div> </center>
    <hr>

    <div class="container mt-3 py-3">

        <form action="/Question" method="GET">
            <label>Filter Questions Category</label>
            <select name="category" class="form-control">
               <option value="all"> All </option>
               <option value="Graphics & Design"> Graphics & Design </option>
               <option value="Programming & Tech"> Programming & Tech </option>
               <option value="Video & Animation"> Video & Animation </option>
               <option value=" Writing & Translation"> Writing & Translation </option>
              </select>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="submit" class="btn btn-primary mt-3" value="Filter">
        </form>


            </select>
          
        </form>

</div>

<hr>

<div class="container mt-5 py-5">

    <% questions.forEach(question => { %>
    <div class="card mt-3">
        <div class="card-body">
            <p class="text-muted">published at: <%= question.postedAt %> </p>
            <p class="card-text"> posted by: <%= question.user %> </p>
            <h5 class="card-title"><%= question.title %> </h5>
            <p class="card-text">description: <%= question.content %> </p>
            <a href=" /question/<%= question._id %>" class="btn btn-primary">Read More...</a>
            <a href=" /deleteQuestion/<%= question._id %>" class="btn btn-danger">Delete</a>
            <a href=" /editQuestion/<%= question._id %>" class="btn btn-warning">Edit</a>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </div>
    </div>
    <%}) %>


</div>

</body>
</html>