<head>
    <%- include('./partials/community.ejs') %>
</head>
<% include includesUser/head %>
<link rel="stylesheet" href="/css/postedService.css">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Article</title>
</head>

<body>

    <center><div class="container mt-3 py-1"><h3>All Articles </h3></div> </center>
    <hr>

    <div class="container mt-3 py-3" style="background-color: whitesmoke;"s>

        <form action="/Article" method="GET" style="background-color: whitesmoke;">
            <label>Filter Article Category</label>
            <select name="category" class="form-control" >
               <option value="all"> All </option>
               <option value="Graphics & Design"> Graphics & Design </option>
               <option value="Programming & Tech"> Programming & Tech </option>
               <option value="Video & Animation"> Video & Animation </option>
               <option value=" Writing & Translation"> Writing & Translation </option>
              </select>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="submit" class="btn btn-primary mt-3" value="Filter" style="background-color: blue; color: white;">
        </form>


            </select>
          
        </form>

</div>

<hr>

<div class="container mt-5 py-5">

    <a href=" /postArticle" class="btn btn-primary" style="background-color: blue; color: white;">post Article</a>

    <% articles.forEach(article => { %>
    <div class="card mt-3">
        <div class="card-body">
            <p class="text-muted">published at: <%= article.postedAt %> </p>
            <p class="card-text"> posted by: <%= article.user %> </p>
            <h5 class="card-title"><%= article.title %> </h5>
            <p class="card-text">description: <%= article.content %> </p>
            <a href=" /article/<%= article._id %>" class="btn btn-primary" style="background-color: blue; color: white;">Read More...</a>
           
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </div>
    </div>
    <%}) %>


</div>

</body>
</html>
<hr>
        <%- include('./includesUser/end.ejs') %>

        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>