<%- include('./includesUser/head.ejs') %>
    <link rel="stylesheet" href="/css/customService.css">
    </head>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<div class="container mt-5">
    <h2><%= posted.title %> </h2>

    <hr>

    <label>service details:</label>
    <p class="mt-3"><%= posted.description %> </p>
 
    <hr>
    

    <label>service price:</label>
    <p class="mt-3"><%= posted.price %> </p>

<!-- quotes-->

<div class="container pt-5">
    <div class="container">
        <form action="/postedRes/<%=posted._id%>/quotes" method="POST" >
           <div class="form-group">
               <textarea class="form-control rounded-0"
                placeholder="Leave your response here" rows="4" name="quote"></textarea>

           </div>

           <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="form-group pt-2"> <button class="btn rounded-0 btn-primary w-100">Response to a bid</button> </div>
        
           
           
           

          
        
        </form>

    </div>

</div>

<body>

    <center><div class="container mt-3 py-1"><h3>All quotes </h3></div> </center>
    <hr>

<div class="container mt-5 py-5">


    <% posted.quotes.forEach((quote)=> {%>
    <div class="card mt-3">
        <div class="card-body">
          <p class="card-text"> Enterpeuner's name: <%= quote.userName %></p>
            <p class="card-text"> Quote price: <%= quote.price %>$</p>
            <p class="card-text">Description: <%= quote.comment %> </p>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
             
            <a href="/acceptQuote/<%= quote._id %>/<%= posted._id %>/<%= quote.price %>/<%= quote.comment %>" class="btn btn-danger" id="btn">Accept quote</a>
            <a href="/rejectQuote/<%= quote._id %>" class="btn btn-warning">Reject quote</a>
            
          </div>
        </div>
        <%}) %>
      
            <script type="text/javascript">
                
             /*  var title = 
               
                // Create an instance of the Stripe object with your publishable API key
                var stripe = Stripe("pk_test_51JgEPqCuZRlwEilUPBWaqwcyDlEVomx3UQSuwc6u0vbr34j7AeQF5Kde18EruBwDPzJajjHLpPyw91wR8QEohVWe00RNyXvSvg");
                var checkoutButton = document.getElementById("btn");
            
                checkoutButton.addEventListener("click", function () {
                  fetch("/acceptBid/:title/:contnet/:categoty/:price", {
                    headers: {'Content-Type': 'application/json'},
                    method: "POST",
                    body: JSON.stringify({
                       "customService": {
                            //"title": title,
                            //"content": content,
                            //"category": category,
                            "amount": price,
                            "quantity": 1
                        }})
                  })
                    .then(function (response) {
                      return response.json();
                    })
                    .then(function (session) {
                      return stripe.redirectToCheckout({ sessionId: session.id });
                    })
                    .then(function (result) {
                      // If redirectToCheckout fails due to a browser or network
                      // error, you should display the localized error message to your
                      // customer using error.message.
                      if (result.error) {
                        alert(result.error.message);
                      }
                    })
                    .catch(function (error) {
                      console.error("Error:", error);
                    });
                });
                */
              </script>
       
</div>

</body>

<footer>
  <%- include('./partials/footer.ejs') %>
</footer>
<%- include('./includesUser/end.ejs') %>