<%- include('./includesUser/head.ejs') %>
    <link rel="stylesheet" href="/css/postedService.css">
    </head>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<div class="container mt-5">
    <p class="text-muted">published at: <%= custom.postedAt %> </p>
    <h2><%= custom.title %> </h2>

    <hr>

    <label>service details:</label>
    <p class="mt-3"><%= custom.content %> </p>
 
    <hr>
    
        <label>i would like the service to be delivered in days:</label>
        <p class="mt-3"><%= custom.day %> </p>
    
        <hr>
        <label>custom category:</label>
        <p class="mt-3"><%= custom.category %> </p>
        <hr>
    <label>i'm willing to pay:</label>
    <p class="mt-3"><%= custom.price %> </p>

<!-- comments-->

<div class="container pt-5">
  
<body>

    <center><div class="container mt-3 py-1"><h3>All bids </h3></div> </center>
    <hr>

<div class="container mt-5 py-5">


    <% custom.comments.forEach((comment)=> {%>
    <div class="card mt-3">
        <div class="card-body">
          <p class="card-text"> Freelancer's name: <%= comment.freelancerName %></p>
            <p class="card-text"> Bid price: <%= comment.bidPrice %>$</p>
            <p class="card-text">Description: <%= comment.comment %> </p>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
             
            <a href=" /acceptBid/<%= custom.title %>/<%= comment.bidPrice %>/<%= custom.category %>/<%= custom.content %>/<%= comment.freelancerName %>/<%= comment.freelancerId%>" style=" background-color:limegreen; " class="btn" id="btn">Accept bid</a>
            <a href=" /rejectBid/<%= comment._id %>" class="btn btn-danger">Reject bid</a>
            
            
            <script type="text/javascript">
                
               var title = '<%= custom.title %>';
               var content = '<%= custom.content %>';
               var category = '<%= custom.category %>';
               var price = '<%= comment.bidPrice %>';
               
                // Create an instance of the Stripe object with your publishable API key
                var stripe = Stripe("pk_test_51JgEPqCuZRlwEilUPBWaqwcyDlEVomx3UQSuwc6u0vbr34j7AeQF5Kde18EruBwDPzJajjHLpPyw91wR8QEohVWe00RNyXvSvg");
                var checkoutButton = document.getElementById("btn");
            
                checkoutButton.addEventListener("click", function () {
                  fetch("/acceptBid/:title/:contnet/:categoty/:price", {
                    headers: {'Content-Type': 'application/json'},
                    method: "POST",
                    body: JSON.stringify({
                       "customService": {
                            //"title": title,
                            //"content": content,
                            //"category": category,
                            "amount": price,
                            "quantity": 1
                        }})
                  })
                    .then(function (response) {
                      return response.json();
                    })
                    .then(function (session) {
                      return stripe.redirectToCheckout({ sessionId: session.id });
                    })
                    .then(function (result) {
                      // If redirectToCheckout fails due to a browser or network
                      // error, you should display the localized error message to your
                      // customer using error.message.
                      if (result.error) {
                        alert(result.error.message);
                      }
                    })
                    .catch(function (error) {
                      console.error("Error:", error);
                    });
                });
              </script>
        </div>
    </div>
    <%}) %>
  
</div>

</body>

<footer>
  <%- include('./partials/footer.ejs') %>
</footer>
<%- include('./includesUser/end.ejs') %>