<%- include('../includesUser/head.ejs') %>
    <link rel="stylesheet" href="/css/customService.css">
    </head>
<head>
    <%- include('../partials/header.ejs') %>
</head>
<hr>
    <body>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let customService of prods) { %>
                             <div class="card mt-3">
                                <div class="card-body">
                                    <p class="text-muted">published at: <%= customService.postedAt %> </p>
                                    <p class="card-text"> posted by: <%= customService.user %> </p>
                                    <h5 class="card-title"><%= customService.title %> </h5>
                                    <p class="card-text">description: <%= customService.content %> </p>
                                    <p class="card-text">price: <%= customService.price %>$</p>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                    <a href=" /customRes/<%= customService._id %>" class="btn btn-warning" style="background-color:blue; color: white;" >View bids</a>
                                    <a href=" /editCustom/<%= customService._id %>" class="btn btn-warning">Edit</a>
                                    <a href=" /deleteCustom/<%= customService._id %>" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <section class='pagination'>
                        <%- include('../includesUser/pagination.ejs', { currentPage: currentPage, previousPage: previousPage, nextPage: nextPage, hasPreviousPage: hasPreviousPage, hasNextPage: hasNextPage, lastPage: lastPage}) %>
                    </section>
                    <% } else { %>
                        <h1>You haven't posted any service!</h1>
                        <% } %>
            </main>
            <hr>
            <footer>
                <%- include('../partials/footer.ejs') %>
            </footer>
            <%- include('../includesUser/end.ejs') %>
            <script src='/js/freelancer.js'></script>
