<% if(currentPage !== 1 && previousPage !== 1) { %>
    <a href="?page=1" style="background-color: blue; color: white;">1</a>
<% } %> 
<% if(hasPreviousPage) { %>
    <a href="?page=<%= previousPage %>" style="background-color: blue; color: white;"><%= previousPage %></a>
<% } %>
<a href="?page=<%= currentPage %>" class="active" style="background-color: blue; color: white;"><%= currentPage %></a>
<% if(hasNextPage) { %>
    <a href="?page=<%= nextPage %>" style="background-color: blue; color: white;"><%= nextPage %></a>
<% } %>
<% if(lastPage !== currentPage && lastPage !== nextPage) { %>
    <a href="?page=<%= lastPage %>" style="background-color: blue; color: white;"><%= lastPage %></a>
<% } %>
