<head>
  <%- include('../partials/teacherHeader.ejs') %>
</head>

<%- include('../includesUser/head.ejs') %>
<link rel="stylesheet" href="/css/postedService.css">

<hr>



<h2 class="text-center" style=''>Courses that you teach</h2>
    <hr />

    <% if (prods.length > 0) { %>
   
      <div class="grid">
        <% for (let course of prods) { %>
       
        <article class="card postedService-item">
          <header class="card__header">
              <h1 class="postedService__title"><%= course.title %> </h1>
          </header>
          <div class="card__image">
              <img src="<%= course.image.url %>"
                  alt="<%= course.title %>">
          </div>
          <div class="card__content">
              <h2 class="postedService__price">$<%= course.price %></h2>
              <p class="postedService__description"><%= course.description %></p>
          </div> 
          <div class="card__actions">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <a href="/edit-course/<%= course._id %>" class="btn" style="background-color: orange; color: white;">Edit course</a>
        </div>
        </article>
      
        <% } %>
                    </div>
                    <section class='pagination'>
                        <%- include('../includesFreelancer/pagination.ejs', { currentPage: currentPage, previousPage: previousPage, nextPage: nextPage, hasPreviousPage: hasPreviousPage, hasNextPage: hasNextPage, lastPage: lastPage}) %>
                    </section>
                    <% } else { %>
                        <h1>No Courses Found!</h1>
                        <% } %>

<footer>
  <hr>
  <%- include('../partials/footer.ejs') %>
</footer>
<%- include('../includesUser/end.ejs') %>