<head>
        <%- include('../partials/header.ejs') %>
</head>
<%- include('../includesUser/head.ejs') %>
    <link rel="stylesheet" href="/css/postedService.css">
</head>
<div class="container mt-3 py-3" style="background-color: whitesmoke;">

    <form action="/postedServices" method="GET" style="background-color: whitesmoke;">
        <label>Filter Services Category</label>
        <select name="category" class="form-control">
           <option> <a href="/">Select category</a> </option>
           <option value="Graphics & Design"> Graphics & Design </option>
           <option value="Digital Marketing"> Digital Marketing </option>
           <option value="Writing & Translation"> Writing & Translation </option>
           <option value="Video & Animation"> Video & Animation </option> 
           <option value="Music & Audio"> Music & Audio </option>
           <option value="Programming & Tech"> Programming & Tech </option>
           <option value="Business"> Business </option>
           <option value="Lifestyle"> Lifestyle </option>
           <option value="Sitemap"> Sitemap </option>
          </select>
          <input type="submit" class="btn btn-primary mt-3" value="Filter" style="background-color: blue; color: white;">
    </form>
        </select>
    </form>
 </div>
 <hr>

<body>
    <main style="background-color: whitesmoke;">
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let postedService of prods) { %>
                    <% if (postedService.image.url != null) { %>
                    <article class="card postedService-item">
                        <header class="card__header">
                            <h1 class="postedService__title"><%= postedService.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= postedService.image.url %>"
                                alt="<%= postedService.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="postedService__price">$<%= postedService.price %></h2>
                            <p class="postedService__description"><%= postedService.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/postedServices/<%= postedService._id %>" class="btn" style="background-color: blue; color: white;">Details</a>
                            <% if (isAuthenticated) { %>
                                <%- include('../includesUser/add-to-cart.ejs', {postedService: postedService}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
                <% } %>
            </div>
            <section class='pagination'>
                 <%- include('../includesUser/pagination.ejs', { currentPage: currentPage, previousPage: previousPage, nextPage: nextPage, hasPreviousPage: hasPreviousPage, hasNextPage: hasNextPage, lastPage: lastPage}) %> 
            </section>
        <% } else { %>
            <h1>No Services Found!</h1>
        <% } %>
        
    </main>
    <hr>
<%- include('../includesUser/end.ejs') %>

<footer>
    <%- include('../partials/footer.ejs') %>
</footer>