<head>
    <%- include('../partials/header.ejs') %>
</head>
<%- include('../includesUser/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>
<hr>
    <body>
       
        <main>
            <% if (orders.length <= 0) { %>
                <h1>You don't have any order!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %> - <a href='/orders/<%= order._id %>'>Invoice</a></h1>
                            <ul class="orders__postedServices">
                                <% order.postedServices.forEach(p => { %>
                                    <li class="orders__postedServices-item"><%= p.postedService.title %> (<%= p.quantity %>) </li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <hr>
        <%- include('../includesUser/end.ejs') %>

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>