<head>
    <%- include('../partials/header.ejs') %>
</head>
<%- include('../includesUser/head.ejs') %>
    </head>
<hr>
    <body>

        <h4> posted by the freelancer: <%= postedService.name %> </h4>
        <h4> You can explore the freelancer's portfolio <a href="/freelancerPortfoilo">here</a></h4>
        
        <main class="centered">
            <h1><%= postedService.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= postedService.image.url %>" alt="<%= postedService.title %>">
            </div>
            <h2><%= postedService.price %></h2>
            <p><%= postedService.description %></p>
            <% if (isAuthenticated) { %>
                <%- include('../includesUser/add-to-cart.ejs', {postedService: postedService}) %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
               <a href="/postedReq/<%= postedService._id %>" class="btn btn-primary">quote</a>
           <% } %>
        </main>

        





        <div class="container pt-5">
            <div class="container">
                <form action="/postedServices/<%=postedService._id%>/<%= postedService.freelancerId %>" method="POST" >
                   
          
                    <div class="border-bottom p-3">
                      <label>stars:</label>
                      <div class="row">
                         <div class="form-group col-md-6">
                            <select name="star" class="form-control" >
                               <option selected>Select...</option>
                               <option>1</option>
                               <option>2</option>
                               <option>3</option>
                               <option>4</option>
                               <option>5</option>
                               
                            </select>
                         </div>
                         
                      </div>
                   </div>
          
          
          
                    <div class="form-group">
                       <textarea class="form-control rounded-0"
                        placeholder="Leave a comment here" rows="4" name="comment"></textarea> 
                    </div>
                   
                   <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <div class="form-group pt-2"> <button class="btn rounded-0 btn-primary w-100">Rate course</button> </div>
                
                
                </form>
          
            </div>
          
          </div>
        

        <hr>


        <div class="continer pt-5">
            <div class="container">
                <div class="row">
          
                 <strong> <label> The Average rating for this freelancer is:
                    <%= ratingAverage %> / 5.
                   </label> <hr> </strong>
                
                    <% freelancer.comments.forEach((rate)=> {%>
                      <div class="col-12">
                         
                       <strong> <%=rate.Name%>: </strong>
                        <br>
          
                       -  <%=rate.comment%>
                        <br>
                    </div>
                     
                 <% }) %>
                    
          
                </div>
            </div>
          </div>









        <%- include('../includesUser/end.ejs') %>

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
