<%- include('../includesUser/head.ejs') %>
    <link rel="stylesheet" href="/css/postedService.css">
    </head>
<head>
    <%- include('../partials/header.ejs') %>
</head>
    <body>

            <main>
                <% if (prods.length > 0) { %>
                    <h1>Your profile:</h1>
                    <div class="grid">
                        <% for (let profile of prods ) { %>
               
                       
                         
                            <article class="card postedService-item">
                                <header class="card__header">
                                    <h1 class="postedService__title">
                                        <%= profile.name %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    
                                    <img src="<%= profile.image.url %>"  alt="<%= profile.name %>" >
                                </div>
                              
                                <div class="card__actions">
                                    <a href="/editProfile/<%= profile._id %>/<%= profile.userId._id %>?edit=true" class="btn">Edit</a>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                    <input type="hidden" value="<%= profile._id %>" name="profileId">
                                </div>
                            </article>
                            <% } %>
                            <% } else { %>
                                <h1>Create your profile from <a href="/editUser">here</a></h1>
                                <% } %>
                    </div>
   
            </main>
            <hr>
            <footer>
                <%- include('../partials/footer.ejs') %>
            </footer>
            <%- include('../includesUser/end.ejs') %>
            <script src='/js/freelancer.js'></script>
