<%- include('../includesFreelancer/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/postedService.css">
</head>
<head>
    <%- include('../partials/freelanceP.ejs') %>

</head> 
<body>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="postedService-form" action="/freelancer/<% if (editing) { %>edit-postedService<% } else { %>add-postedService<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input  class="<%= validationErrors.find(e => e.param == 'title') ? 'invalid' : '' %>" type="text" name="title" id="title" value="<% if (editing) { %><%= postedService.title %><% } else {%><%= oldInput.title %><%}%>">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input  class="<%= validationErrors.find(e => e.param == 'price') ? 'invalid' : '' %>" type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= postedService.price %><% } else {%><%= oldInput.price %><%}%>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description"  class="<%= validationErrors.find(e => e.param == 'description') ? 'invalid' : '' %>" id="description" rows="5"><% if (editing) { %><%= postedService.description %><% } else {%><%= oldInput.description %><%}%></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= postedService._id %>" name="postedServiceId">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit"><% if (editing) { %>Update PostedService<% } else { %>Add PostedService<% } %></button>
        </form>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
<%- include('../includesFreelancer/end.ejs') %>

