<%- include('../includesFreelancer/head.ejs') %>
    <link rel="stylesheet" href="/css/portfolio.css">
    </head>
<head>
    <%- include('../partials/freelanceP.ejs') %>
</head>
    <body>
        

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let portfolio of prods ) { %>
                            <article class="card portfolio-item">
                                <header class="card__header">
                                    <h1 class="portfolio__previousWork" >
                                        <%= portfolio.name %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= portfolio.image.url %>" alt="<%= portfolio.previousWork %>">
                                </div>
                            </article>
                                                   
<div class="container mt-5">
    <label>Brief summary about me:</label>
    <p class="mt-3"><%= portfolio.description %> </p>
 
    <hr> 
    <p class="mt-3">years of experience: <%= portfolio.yearsOfExperinece %> </p>

    <hr>
        <p class="mt-3">previousWork: <%= portfolio.previousWork %> </p>
    
     <hr>
    
    
</div>
                            
                                <div class="card__actions">
                                    <a href="/freelancer/edit-portfolio/<%= portfolio._id %>?edit=true" class="btn" style="background-color:goldenrod; color: white;">Edit</a>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                    <input type="hidden" value="<%= portfolio._id %>" name="portfolioId">
                                    <button class="btn" type="button" onclick="deletePortfolio(this)" style="background-color:red; color: white;">Delete</button>
                                </div>
                           
                            <% } %>
                    </div>
                
               
                    <section class='pagination'>
                        <%- include('../includesFreelancer/pagination.ejs', { currentPage: currentPage, previousPage: previousPage, nextPage: nextPage, hasPreviousPage: hasPreviousPage, hasNextPage: hasNextPage, lastPage: lastPage}) %>
                    </section>
                    <% } else { %>
                        <h1>You don't have a portfolio! please add your portfolio <a href="/freelancer/add-portfolio">here</a></h1>
                        <% } %>

                        
            </main>
            <%- include('../includesFreelancer/end.ejs') %>
            <script src='/js/freelancer.js'></script>
