<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Custom</title>
  <head>
    <%- include('../partials/adminHeader.ejs') %>
</head>
<%- include('../includesAdmin/head.ejs') %>
    <link rel="stylesheet" href="/css/postedService.css">
</head>
</head>

<body>

    <center><div class="container mt-3 py-1"><h3>All Customized Services </h3></div> </center>
    <hr>

    <div class="container mt-3 py-3">

        <form action="/Custom" method="GET">
            <label>Filter Customized Services Category</label>
            <select name="category" class="form-control">
               <option value="all"> All </option>
               <option value="Graphics & Design"> Graphics & Design </option>
               <option value="Programming & Tech"> Programming & Tech </option>
               <option value="Video & Animation"> Video & Animation </option>
               <option value=" Writing & Translation"> Writing & Translation </option>
              </select>

              <input type="submit" class="btn btn-primary mt-3" value="Filter" style="background-color: blue; color: white;">
        </form>


            </select>
          
        </form>

</div>

<hr>

<div class="container mt-5 py-5">

  
    <% if (prods.length > 0) { %>
     
     
          <% for (let custom of prods) { %>
         
    <div class="card mt-3">
        <div class="card-body">
            <p class="text-muted">published at: <%= custom.postedAt %> </p>
            <p class="card-text"> posted by: <%= custom.user %> </p>
            <h5 class="card-title"><%= custom.title %> </h5>
            <p class="card-text">description: <%= custom.content %> </p>
            <p class="card-text"><%= custom.price %>$</p>
            <a href=" /editAdminCustom/<%= custom._id %>" class="btn " style="background-color: orange; color: white;">Edit</a>
            <a href=" /deleteAdminCustom/<%= custom._id %>" class="btn " style="background-color: red; color: white;">Delete</a>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          
        </div>
    </div>
    <%} %>
    <section class='pagination'>
        <%- include('../includesFreelancer/pagination.ejs', { currentPage: currentPage, previousPage: previousPage, nextPage: nextPage, hasPreviousPage: hasPreviousPage, hasNextPage: hasNextPage, lastPage: lastPage}) %>
    </section>
    <% } else { %>
        <h1>No Services Found!</h1>
        <% } %>
    

</div>

</body>
</html>

<%- include('../includesUser/end.ejs') %>