<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-freelancer" class="border-shadow">
                <span class="text-gradient">New User <i class="fas fa-user"></i></span>
            </a>
        </div>

        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>@Email</th>
                        <th>phoneNumber</th>
                        <th>skills</th>
                    </tr>
                </thead>
                <tbody>
<% for(var i = 0; i < freelancers.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= freelancers[i].name %></td>
        <td><%= freelancers[i].email %></td>
        <td><%= freelancers[i].phoneNumber %></td>
        <td><%= freelancers[i].skills %></td>
        <td>
            <a href="/update-freelancer?id=<%= freelancers[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= freelancers[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>

                    </tbody>
                </table>
            </form>
        </div>
    </main>